.App {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  align-content: center;
  pointer-events: painted;
}

.drawpad-link{
  text-align: center;
}

.h2-drawPad{
  text-align: center;

}

/* https://stackoverflow.com/questions/5127937/
how-to-center-canvas-in-html5#:~:text=Centering%20the%20canvas%20
vertically%20requires,space%20with%20the%20auto%20margins. */
canvas {
  padding: 0;
  margin: 10rem auto;
  display: flex;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px dashed rgb(102, 102, 113);
  
}

header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


